@import '../../styles/styles.scss';

.user-options {
    background-color: $primary-color;
    height: 100%;
    width: 100%;
    
    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: space-evenly;

    }
    
    li {
        display: inline-block;
        margin: 0 5px;
    }
}

