.logged-in-template {
    &__body{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
}

@media screen and (min-width: 576px) {
    .logged-in-template{
        &__body {
            align-items: center;
        }
    }
}